body {
    color: #FFFDD0;
    background-color: #181818;
}

.page-title {
    font-size: 5em;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 1em;
}

.card {
    color: #181818;
    background-color: #FFFDD0;
}

.row {
    display: justify-content-center;
}

.card-img-top {
    height: 15vw;
    object-fit: cover;
}

#add-pet {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

#add-pet-btn {
    font-size: 2rem;
    padding: 0.5em 5em 0.5em 5em;
}

#notes {
    height: 10rem;
}

#pet-img-div {
    font-size: 5em;
    text-align: center;
    margin-top: 0.25em;
}

.pet-img {
    margin-top: 1rem;
    width: 4em;
}

#pet-info {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.pet-info-p {
    display: inline;
}

#pet-info-divider {
    margin-right:1rem;
    margin-left:1rem;
}

.pet-btn {
    margin-top: 2rem;
    width: 10rem;
}

.edit-pet-btn {
    width: 10rem;
}

